#container{
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
header p{
  font-style: italic;

}
.headline, h1, h2, h3, span{
  font-weight: bold;
}
h1{
  font-size: 36px;
}
h2{
  font-size: 32px;
}
h3{
  font-size: 28px;
}
